@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}

.navbar h1 {
  display: flex; 
  justify-content: center;
  font-size: 80px;
  font-family: 'DM Sans', sans-serif;
  margin: 50px 50px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navbar li a {
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: #39FF14;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a:hover::after,
a:focus::after{
  transform: scale(1);
}


.container {
  margin: 100px 100px 0 100px;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.text-title {
  margin: 300px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Koulen', cursive;
  font-weight: 400;
  font-size: 80px;
}
.images {
  margin: 185px 0;
  display: flex;
  justify-content: flex-start;
  
}


.images img {
  width: 600px;
  height: 500px;
  }

  .title-year {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-family:'Koulen', cursive;
    color: #39FF14;
    font-size: 40px;
    margin: 100px 0 0 0;
  }

  .text-one  {
  background-color: black;
  width: 1200px;
  height: 700px;
  
  }

  .text-one p {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 20px 20px;
    padding: 20px;
  }


  .text-two {
    background-color: black;
  width: 1200px;
  height: 570px;
  }

  .text-two p {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 20px 20px;
    padding: 20px;
  }

  .text-three {
    background-color: black;
    width: 1200px;
    height: 450px;
  }

  .text-three p {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 20px 20px;
    padding: 20px;
  }


  .fss {
    color: #348edc;
  }

  .boty {
    color: #bbec47;
  }

  .ibe {
    color: #f6f64a;
  }

  .redbull {
    color: #E21B4D;
  }

  .paris {
    color: peru;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    margin: 200px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }


@media only screen and (max-width: 400px){
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}